<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            color:green;
         font-size: 120px;
        }
        h1{color:red
           }
    </style>
</head>
<body>
    <center>
        <h1>This is if-condition</h1>
        <h1>his name is {{name}}</h1>
        <h2>age is {{age}}</h2>
        {% if a > b %}
             <h1>a is greater than b</h1>
        {% else %}
             <h1>b is greater than a</h1>
        {% endif %}
    </center>
</body>
</html>